<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/static/css/style.css" />
        <title>Театральная школа Новочебоксарск</title>
        <meta name="description" content="Театральная школа Новочебоксарск" />
        <link
            rel="apple-touch-icon"
            sizes="57x57"
            href="/static/icons/favicons/apple-icon-57x57.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="60x60"
            href="/static/icons/favicons/apple-icon-60x60.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="72x72"
            href="/static/icons/favicons/apple-icon-72x72.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="76x76"
            href="/static/icons/favicons/apple-icon-76x76.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="114x114"
            href="/static/icons/favicons/apple-icon-114x114.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="120x120"
            href="/static/icons/favicons/apple-icon-120x120.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="144x144"
            href="/static/icons/favicons/apple-icon-144x144.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="152x152"
            href="/static/icons/favicons/apple-icon-152x152.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/static/icons/favicons/apple-icon-180x180.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="192x192"
            href="/static/icons/favicons/android-icon-192x192.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/static/icons/favicons/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="96x96"
            href="/static/icons/favicons/favicon-96x96.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/static/icons/favicons/favicon-16x16.png"
        />
        <link rel="manifest" href="/static/icons/favicons/manifest.json" />
        <meta name="msapplication-TileColor" content="#ffffff" />
        <meta
            name="msapplication-TileImage"
            content="/static/icons/favicons/ms-icon-144x144.png"
        />
        <meta name="theme-color" content="#ffffff" />
    </head>
    <body>
        <!-- пятая секция форма -->
        <section class="five-section">
            <div class="form">
                <form action="#" id="form" class="form__body">
                    <h5 class="form__title title">
                        Отправьте заявку и мы запишем Вас!
                    </h5>
                    <div class="form__item">
                        <label for="formName" class="form__label">Имя*:</label>
                        <input
                            id="formName"
                            type="text"
                            name="name"
                            class="form__input _req"
                        />
                    </div>
                    <div class="form__item">
                        <label for="formEmail" class="form__label"
                            >email*:</label
                        >
                        <input
                            id="formEmail"
                            type="email"
                            name="email"
                            class="form__input _req _email"
                        />
                    </div>
                    <div class="form__item">
                        <label for="formMessage" class="form__label"
                            >Сообщение:</label
                        >
                        <textarea
                            id="formMessage"
                            name="message"
                            class="form__input message"
                        ></textarea>
                    </div>
                    <div class="form__item">
                        <div class="checkbox">
                            <input
                                id="formAgreement"
                                checked
                                type="checkbox"
                                name="agreement"
                                class="checkbox__input _req"
                            />
                            <label for="formAgreement" class="checkbox__label"
                                ><span
                                    >Я даю свое согласие на обработку
                                    персональных данных в соответствии с
                                    <a href="">Условиями</a>*</span
                                ></label
                            >
                        </div>
                    </div>
                    <button
                        type="submit"
                        class="form__button buttons__main-btn"
                    >
                        Отправить
                    </button>
                </form>
            </div>
        </section>
    </body>
</html>