<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/static/css/style.css" />
        <title>Театральная школа Новочебоксарск</title>
        <meta name="description" content="Театральная школа Новочебоксарск" />
        <link
            rel="apple-touch-icon"
            sizes="57x57"
            href="/static/icons/favicons/apple-icon-57x57.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="60x60"
            href="/static/icons/favicons/apple-icon-60x60.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="72x72"
            href="/static/icons/favicons/apple-icon-72x72.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="76x76"
            href="/static/icons/favicons/apple-icon-76x76.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="114x114"
            href="/static/icons/favicons/apple-icon-114x114.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="120x120"
            href="/static/icons/favicons/apple-icon-120x120.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="144x144"
            href="/static/icons/favicons/apple-icon-144x144.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="152x152"
            href="/static/icons/favicons/apple-icon-152x152.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/static/icons/favicons/apple-icon-180x180.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="192x192"
            href="/static/icons/favicons/android-icon-192x192.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/static/icons/favicons/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="96x96"
            href="/static/icons/favicons/favicon-96x96.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/static/icons/favicons/favicon-16x16.png"
        />
        <link rel="manifest" href="/static/icons/favicons/manifest.json" />
        <meta name="msapplication-TileColor" content="#ffffff" />
        <meta
            name="msapplication-TileImage"
            content="/static/icons/favicons/ms-icon-144x144.png"
        />
        <meta name="theme-color" content="#ffffff" />
    </head>

    <div class="container main-section__nav-container">
        <header class="main-section__header">
            <h6 class="hashtag">#зажигаем детские сердца</h6>
        </header>
        <nav class="main-section__nav nav-menu">
            <ul class="nav-menu__list">
                <li class="nav-menu__list-item">
                    <a href="{% url 'index' %}">Главная</a>
                </li>
                <li class="nav-menu__list-item">
                    <a href="{% url 'about_us' %}">О нас</a>
                </li>
                <li class="nav-menu__list-item">
                    <a href="{% url 'contacts' %}">Контакты</a>
                </li>
            </ul>
        </nav>
    </div>

    <section id="gallery" class="four-section">
        <div class="container four-section__box">
            <h6 class="four-section__title title">Галерея</h6>
        </div>
        <div class="container four-section__gallery">
            <div class="four-section__top-pictures">
                <div class="four-section__foto-one foto-picters"></div>
                <div class="four-section__foto-two foto-picters"></div>
                <div class="four-section__foto-three foto-picters"></div>
            </div>
            <div class="four-section__medium-pictures">
                <div class="four-section__foto-four foto-picters-big"></div>
            </div>
            <div class="four-section__lower-pictures">
                <div class="four-section__foto-five foto-picters"></div>
                <div class="four-section__foto-six foto-picters"></div>
                <div class="four-section__foto-seven foto-picters"></div>
            </div>
        </div>
    </section>
</html>